p {
    font-family: 'Urbanist', sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: #386641;
    text-align: center;
}

h3 {
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #386641;
    text-align: center;
}

.container-fluid {
    font-family: 'Urbanist', sans-serif;
}

.container {
    padding: 50px;
    width: 100%;
    margin: auto;
}
.ciudad {
    width: 40%;
    float: left;
    height: 50px;


}
.intermedio {
    width: 20%;
    float: left;
    height: 50px;
}
.consecutivo {
    width: 40%;
    float: left;
    height: 50px;
}
#clear {
    clear: both;
}
.selector {
    background-color: rgb(238, 238, 238);
    border-color: rgb(203, 203, 203);
    width:100%;
    heigh:100%;
}
#subtitulo {
    padding-top: 30px;
}

#basic-addon1, .form-control, #consecutivo {
    font-family: 'Urbanist', sans-serif;
    color: #386641;
    font-weight: 700;
    font-size: 20px;
}

#registrar{
    font-family: 'Urbanist', sans-serif;
    background: #386641;
    color: #F2E8CF;
    font-size: 20px;
}

#recargar{
    font-family: 'Urbanist', sans-serif;
    color: #386641;
    font-size: 20px;
}

a{
    font-size: 100px;
}

#buscar{
    background:#386641;
}
 i {
    color: #F2E8CF;
 }