nav {
    font-family: 'Urbanist', sans-serif;
    background-color: #386641;
    font-size: 20px;

}



#navbarDropdown, a {
    color: #F2E8CF;
}

.dropdown-menu {
    background: #386641; /* Color al 25% */
}

.dropdown-item {
    background: #386641; /* Color al 25% */
}

.nav-link :hover {
    color:#F2E8CF;
}