<div class=" content">


  <div class="text-center">
    <input class="form-control" type="file" (change)="onChange($event)">

    <button (click)="onUpload()" class="btn btn-success">
      Upload
    </button>
    {{recibido}}
  </div>
  <div class="container">
    <h3 *ngFor="let dato of resultados; let i = index">
      Dato {{i}} obtuvo codigo {{dato[0]}}
    </h3>
  </div>


  <table class="compact nowrap table table-hover" >
    <tbody>
      <tr>
        <th>Codigo</th>    
        <th>Iva</th>    
        <th>Nit</th>
        <th>Nombre</th>
        <th>Precio Compra</th>
        <th>Precio Iva</th>   
      </tr>
      <tr *ngFor="let productos of contenido" class="">
        
        <td>{{productos.codigoproducto}}</td>
        <td>{{productos.ivacompra}}</td>
        <td>{{productos.nitproveedor}}</td>
        <td>{{productos.nombreproducto}}</td>
        <td>{{productos.preciocompra}}</td>
        <td>{{productos.precioventa}}</td>
      </tr>
    </tbody>
  </table>
</div>