<div class=" content">

  <div>
    <p class="mt-4">REPORTES</p>
  </div>

  <div class="col-md-auto text-center">
    <div class="btn-group col-md-4" role="group" aria-label="Basic example">
      <button class="btn btn-outline-success" [routerLink]="['/listarcliente']"> Listado de Clientes
      </button>
    </div>
    <br>
    <br>
    <div class="col-md-auto text-center">
      <div class="btn-group col-md-4" role="group" aria-label="Basic example">
        <button class="btn btn-outline-success" [routerLink]="['/consolidado']"> Consolidado de Ventas por ciudad
        </button>
      </div>
  
  </div>

  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</div>