<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
                <div class="text-center">
                    <div class="mb-5 text-primary-500" >
                        <h1>B I E N V E N I D O</h1>
                        <h3>SISTEMA DE GESTION DE COMPRAS</h3>
                        <hr>
                    </div>

                    <!-- CODE HERE -->
                    <img id="img_home" src="assets/images/logo/logo1.svg" alt="logo">

                    <!-- END CODE HERE -->
                </div>
            </div>

            <!-- /.container-fluid -->
        </div>

        <!-- End of Main Content -->


