p {
    font-size: 30px;
    color:green;
    font-weight: bolder;
    
}

.h2 {
    font-size: 50px;
    color:green;
    font-weight: bolder;
}

.form-check-input {
    background-color: green;
}

div.vertical-line{
    width:50px; /* Line width */
    background-color: green; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. 
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
      border: 1px inset; /* This is default border style for <hr> tag */
  }
  div.vertical-line2{
    width: 5px;
    background-color: green;
    height: 100%; 
    float: right;
    border: 1px inset; /* This is default border style for <hr> tag */
  }

  .card{
      border:0;
      
  }