p {
    font-size: 30px;
    color:#00B2CA;
    font-weight: bolder;
    
}

.h2 {
    font-size: 50px;
    color:#00B2CA;
    font-weight: bolder;
}

.form-check-input {
    background-color: #00B2CA;
}



  .card{
      
      
  }