<div class="row">
  <div class="md-2">
    <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="bg-light border-right col-md-2" id="sidebar-wrapper">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
          <a class="col col-m-12 navbar-brand" [routerLink]="'/home'">
            <img src="/assets/logo1.svg" width="50" height="50" class="d-inline-block" alt="" [routerLink]="'home'">LA GENÉRICA </a>
        </nav>

        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action bg-light" [routerLink]="'/usuario'">Usuarios</a>
          <a class="list-group-item list-group-item-action bg-light disabled" [routerLink]="'/cliente'">Clientes</a>
          <a class="list-group-item list-group-item-action bg-light disabled"
            [routerLink]="'/proveedor'">Proveedores</a>
          <a class="list-group-item list-group-item-action bg-light" [routerLink]="'/producto'">Productos</a>
          <a class="list-group-item list-group-item-action bg-light disabled" [routerLink]="'/ventas'">Ventas</a>
          <div class="dropdown">
            <a class="list-group-item list-group-item-action bg-light dropdown-toggle dropdown-toggle-split disabled"
              [routerLink]="'/reporte'" data-bs-toggle="dropdown" aria-expanded="false">
              Reportes
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Venta por Proveedor</a></li>
              <li><a class="dropdown-item" href="#">Ventas por Cliente</a></li>
              <li><a class="dropdown-item" href="#">Otros Reportes</a></li>
            </ul>
          </div>
          <a href="#" class="list-group-item list-group-item-action bg-light">Salir</a>
        </div>
      </div>

      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">


        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn" id="menu-toggle"><i class="fas fa-bars"></i></button>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        </nav>
        
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
  <div class="md-10"></div>
</div>