<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="text-center">
            <div class="mb-5">
              <h1>PRODUCTOS</h1>
              <hr>
            </div>

            <!-- CODE HERE -->

            <!-- contenido  
	
	<div class="pb-3 pr-3 d-flex justify-content-end">
		 <a href="producto.jsp" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
		 <i class="fas fa-download fa-sm text-white-50"></i> Nuevo Producto</a>
		
	</div>
	-->

            <div class="pb-3 pr-3 d-flex justify-content-end">
              <a href="cargarProductos.jsp" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Cargar Productos</a>

            </div>

            <!-- 
	<div id="delete" class="d-none alert alert-danger" role="alert">
		Producto eliminado correctamente
	  </div>
	  
	  <div id="create" class="d-none alert alert-success" role="alert">
		Producto creado correctamente
	  </div>
	  
	  <div id="update" class="d-none alert alert-info" role="alert">
		Producto modificado correctamente
	  </div>
	
	 -->

            <!--  Aqui es donde se autogenera la tabla basado en el script -->
            <div class="col align-self-center">
              <table class='data-table table stripe hover nowrap'>
                <thead>
                  <tr>
                    <th class='table-plus'>Código</th>
                    <th>Nit Proveedor</th>
                    <th>Nombre del Producto</th>
                    <th>Precio de Compra</th>
                    <th>Iva Compra</th>
                    <th>Precio de Venta</th>

                  </tr>
                </thead>
                <tbody id="productosinfo">

                </tbody>
              </table>
            </div>


            

          </div>
          <!-- END CODE HERE -->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->