/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@tailwind utilities;

#img_home{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#bienvenida{
    color: #00B2CA;
    font-size: 45px;
    font-weight: bolder;
}

