.navbar {
    visibility: hidden;
}

#tit_ppal {
    color: rgb(36, 167, 29);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
    font-weight: 900;
}

.sub_tit {
    color: rgb(36, 167, 29);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 200;
}
.tit_3{
    color: rgb(36, 167, 29);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 200;
}

