p {
    font-family: 'Urbanist', sans-serif;
    font-size: 100px;
    font-weight: 900;
    color: green;
    text-align: center;
}

i {
    color:orangered;
    text-align: center;
    height: 300xp;
  
}