.clientes{
    font-family: 'Urbanist', sans-serif;
    color: #386641;
}
p {
    font-family: 'Urbanist', sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: #386641;
    text-align: center;
}
#imagen {
    height: 200px;
    align-items: center;
    padding: 20px;
}

.form-group {
    text-align: left;
}

label {
    background: transparent;
}

button {
    background: #386641;
}