
<br>
<br>
<br>
<div class="col col-m-12">
    <div class="d-flex justify-content-center mb-5">
        <div class="col-5"> 
        
        <div id="error" class="d-none alert alert-danger"
                    role="alert">Cliente ya se encuentra registrado</div>
                    <div id="imagen" class="col-md-4 text-center p-4" >
                        <br clear="left">
                        <img src="assets/verdura.svg" alt="frutas" width="90%" style="float:left"/>
                      </div>
                          
            <form id="registrarcliente" action="../registrarcliente" method="post">
                
                <div class="form-group col-md-12">
                    <label for="cedula_cliente">Cédula</label>
                    <!--
                    <input type="text" autocomplete="off" required name="cedula_cliente" class="form-control">
                    -->
                    <input class="form-control form-control-lg" type="text" name="cedula_cliente"
                       [(ngModel)]="cedula_cliente" >
                </div>
                <div class="form-group col-md-12">
                    <label for="nombre_cliente">Nombre</label>
                    <input class="form-control form-control-lg" type="text" name="nombre_cliente"
                       [(ngModel)]="nombre_cliente">
                </div>
                <div class="form-group col-md-12">
                    <label for="direccion_cliente">Dirección</label>
                    <input class="form-control form-control-lg" type="text" name="dir_cliente"
                       [(ngModel)]="dir_cliente">
                </div>
                <div class="form-group col-md-12">
                    <label for="email_cliente">Email</label>
                    <input class="form-control form-control-lg" type="text" name="correo_cliente"
                    [(ngModel)]="correo_cliente">

                </div>
                <div class="form-group col-md-12">
                    <label for="telefono_cliente">Teléfono</label>
                    <input class="form-control form-control-lg" type="text" name="telefono_cliente"
                    [(ngModel)]="telefono_cliente">
                    
                </div>
                
                <br>

                <button  class="btn btn-success col-md-4 justify-content-center"style="margin: 10px" (click)="crear_cliente()" >
                
                    Crear
                </button>
                
                <button class="btn btn-success col-md-4 justify-content-center" style="margin: 10px" (click)="buscar_cliente()">
                    Buscar
                </button>
                <button  class="btn btn-success col-md-4  justify-content-center"style="margin: 10px">
                    Actualizar
                </button>                    
                <button  class="btn btn-success col-md-4"style="margin: 10px ">
                    Eliminar
                </button>

            </form>
                
        </div>		
    </div>
   
</div>

